.home-container{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin: auto; 
  padding-top: 10px; 
  padding-bottom: 50px; 
  width: 90%; 
  max-width: 1110px; 
}
@media screen and(min-width: 768px){
  .home-container{
    flex-direction: row; 
    justify-content: space-between; 
    padding-top: 50px;

  }
}
.home-content{
  display: flex; 
  flex-direction: column; 
  align-items: left; 

}
@media screen and(min-width:768px){
  .home-content{
   align-items: flex-start;
  }
}

.home-mobile-img{
  width: 206px;
}
@media screen and(min-width: 768px){
  .home-mobile-img{
    display: none;
  }
}
.home-desktop-img{
  width: 50%; 
  max-width: 450px; 
  margin-left: 85px; 
}
@media screen and(max-width: 767px){
  .home-desktop-img{
    display: none;
  }
}
.home-heading{
  font-size: 53px; 
  font-weight: bold;
  color: #1e293b; 
  margin-top: 0px; 
  text-align: left; 
}
@media screen and(min-width: 768px){
  .home-heading{
   font-size: 46px; 
   text-align: left;
  }
}

.home-description{
  margin-top: 36px;
  font-family: "Roboto";
  color: #64748b; 
  line-height: 28px; 
  font-size: 22px; 
  margin-bottom: 0; 
  text-align: left;
}
@media screen and(min-width: 768px){
  .home-description{
    font-size: 18px; 
    margin-top: 0;
    text-align: left;         
  }
}
.shop-now-button{
  width: 200px; 
  font-size: 16px; 
  font-weight: 400; 
  background-color: #0967d2; 
  color: white; 
  border: none; 
  padding-top: 12px; 
  padding-bottom: 12px; 
  border-radius: 6px; 
  margin-top: 20px;
 
}
@media screen and(min-width: 768px){
  .shop-now-button{
     width: 150px;
     font-size: 16px;
  }
}
